.form{
    width: 450px;
    padding: 30px;
    margin: 25px auto;
    background: #1e1e1e;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.2);

}

.form p{
    background: #121212;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #bfbfbf;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid #FFC125;
    border-top: 1px solid #121212;
    border-left: 1px solid #121212;
    border-right: 1px solid #121212;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
}

.inner-wrap{
    padding: 20px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 2px solid #FFC125;
}

.form label{
    display: block;
    font: 14px Arial;
    color: black;
    margin-bottom: 15px;
}

input[type="text"],
input[type="number"],

select {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 5);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 5);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 5);
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus { 
  border-color: rgba(3,3,3, 0.8);
  box-shadow: 0 1px 1px rgba(3,3,3, 0.075), 0 0 8px rgba(3,3,3, 0.6);
  outline: 0 none;
}

.section{
    font-size: 15px;
    font-family: Arial;
    color: #bfbfbf;
    margin-bottom: 5px;
}

span {
    background: #121212;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 3px solid #fff;
    font-size: 12px;
    margin-left: -45px;
    color: #fff;
    margin-top: -6px;
}

.form li{
    font-size: 15px;
}

.form ul{
    color: #fff;
}

#delete{
    margin-left: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.form hr{
    margin-left: -40px;
}